<h2><%= @photo.date.strftime("%Y/%m/%d %H:%M") %></h2>

<div class="photo">
<%= image_tag('/photos/' + @photo.path, :align => "left") %>
</div>

<%= form_for @photo , :url => user_photo_path(@user,@photo) do |f| %>
  <%= f.text_area :message , :class => 'message_edit_area' %><br>
  <%= f.submit %>
<% end %>

