<script>
$(function() {
  $("img").lazyload({
    placeholder : "<%= image_path('grey.gif') %>", 
    effect : "fadeIn"
  });
});
</script>

<%#= link_to 'カレンダー', calendar_user_photos_path(@user) %>
<% @photos_hash.sort{|a,b| b[0] <=> a[0] }.each do |date,photos| %>
  <div class="selector03"><%= date %></div>
  <ul class="thumbnail clearFix">
    <% photos.each do |p| %>
      <li><dl>
        <dt><%= link_to(image_tag( "/photos/" + p.path, :width=>"120" ), user_photo_path(@user,p) ) %></dt>
        <dd><strong><%= p.date.strftime("%H:%M") %></strong><br>
        <%= p.message %></dd>
      </dl></li>
    <% end %>
  </ul>
<% end %>
    
<script>
  $(document).ready(function(){
    sync_now("<%= user_sync_now_path %>", "<%= user_photos_path %>");
  });
</script>
