<script>
$(function() {
  $(".photo_list img").lazyload({
    placeholder : "<%= image_path('grey.gif') %>", 
    effect : "fadeIn"
  });
});
</script>

<div class="cost_list">
  <table>
    <tr><th>年月</th><th>外食費</th></tr>
<% @price_hash.sort{|a,b| b[0] <=> a[0] }.each do |month,price| %>
    <tr><td><%= month %></td><td align="right"><%= price %></td></tr>
<% end %>
  </table>
</div>

<%#= link_to 'カレンダー', calendar_user_photos_path(@user) %>
<div class="photo_list">
<% @photos_hash.sort{|a,b| b[0] <=> a[0] }.each do |date,photos| %>
  <div class="selector03"><%= date %></div>
  <ul class="thumbnail clearFix">
    <% photos.each do |p| %>
      <li><dl>
        <dt><strong><%= p.date.strftime("%H:%M") %></strong><br>
          <%= link_to(image_tag( "/photos/" + p.path, :width=>"120" ), user_photo_path(@user,p) ) %></dt>
        <dd><%= p.message %></dd>
      </dl></li>
    <% end %>
  </ul>
<% end %>
</div>
    
<script>
  $(document).ready(function(){
    sync_now("<%= user_sync_now_path %>", "<%= user_photos_path %>");
  });
</script>
