<%= link_to 'リストへ', user_photos_path(@user) %>

<h2><%= @photo.date.strftime("%Y/%m/%d %H:%M") %></h2>
<%= image_tag('/photos/' + @photo.path, :align => "top") %>
<%= @photo.message %>

</br>
<%= link_to 'コメントを編集', edit_user_photo_path(@user,@photo) %>
<%= link_to '削除', user_photo_path(@user,@photo), :method => :delete , :confirm => "本当に削除しますか？"%>
