<script>
$(function() {
  $("img").lazyload({
    placeholder : "<%= image_path('grey.gif') %>",
    effect : "fadeIn"
  });
});
</script>

<div class="photo">
<%= image_tag('/photos/' + @photo.path, :align => "left", :class => @photo.is_eating_out? ? "eating_out" : "eating_in" ) %>
</div>

<div class="menu">
<h2><%= @photo.date.strftime("%Y/%m/%d %H:%M") %></h2>
<ul class="pre_next">
  <% @pre_next.each do |p| %>
  <li><dl>
    <dt><strong><%= p[:date].empty? ? p[:photo].date.strftime("%H:%M") : p[:date] %></br><%= link_to(image_tag("/photos/" + p[:photo].path, :width=>"90", :class => p[:photo].is_eating_out? ? "eating_out" : "eating_in" ), user_photo_path(@user,p[:photo])) %></dt>
  </dl></li>
  <% end %>
</ul>

<br clear="left">

<%= raw(@photo.message.gsub("\n","<br>")) %>

<ul>
  <%= content_tag 'li', link_to( 'リストへ', user_photos_path(@user)) %>
  <%= content_tag 'li', link_to( 'コメントを編集', edit_user_photo_path(@user,@photo)) %>
  <%= content_tag 'li', link_to( '削除', user_photo_path(@user,@photo), :method => :delete , :confirm => "本当に削除しますか？") %>
</ul>
</div>

