<!DOCTYPE html>
<html>
<head>
  <title>Nanitaveta</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
  <header>
    <div style="float: right; text-align: right;">
    <% if current_user %>
      <span style="float: right;font-weight: bold;"><%= "<" + current_user.email + ">" %></span><br>
      <%= image_tag('/images/sync-auto.gif', :style => 'display: none;', :id => "sync_auto_loader") %>
      <button onclick='sync_now("<%= user_sync_now_path %>", "<%= user_photos_path %>")'>同期</button>
      <%= link_to('ログアウト', [ :destroy, :user_session ], :method => :delete ,:class => 'sign signOut') %>
    <% else %>
      <%= link_to 'ログイン', [ :new, :user_session ]  %><br>
      <%= link_to 'ユーザー登録', [ :new, :user_registration ]  %>
    <% end %>
    </div>

    <h1>なにたべ？</h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </header>

  <%= yield %>
  </div>

</body>
</html>
